# IDE files
.vscode/
# Ignore Runtime Files
**/.DS_Store
**.mixin.out/
**.mixin.out/**
**.mixin.out/class/
att-debug/
crash-reports/
fancymenu_data/
local/
logs/
config/spark/tmp/
config/xaero/
config/chloride-client.json
config/oculus.properties
config/packetfixer.properties
config/indigo-renderer.properties
config/defaults.properties
config/asyncparticles/asyncparticles-mixin.properties
/config/asyncparticles/asyncparticles-mixin.properties
modernfix/
mods/cipherwright-0.3.0-1.20.1.jar
mods/dumpeverything-1.0-SNAPSHOT.jar
moonlight-global-datapacks/
patchouli-books/

# 1. Ignore everything inside the folder
saves/*

# 2. But do not ignore this specific file
!saves/Build/

visual_keybinder/
xaero/
XaeroWaypoints**/
downloads/
foolproof.json
libEffekseerNativeForJava.dylib
options.txt
usercache.json
usernamecache.json
minecraftinstance.json
.curseclient
.DS_Store
rhino.local.properties
/EffekseerNativeForJava.dll
/keybinding presets/
/.mixin.out/
/.cache/
/.ai/
.mixin.out/class/net/minecraft/client/particle/ParticleEngine.class
.mixin.out/class/net/minecraft/client/particle/SingleQuadParticle.class
.mixin.out/class/net/minecraft/client/renderer/LevelRenderer.class
.mixin.out/class/net/minecraft/world/effect/MobEffect.class
config/embeddium-fingerprint.json
config/fml.toml
config/oculus.properties
config/packetfixer.properties
config/fabric/indigo-renderer.properties
config/ironchests/defaults.properties
config/jei/ingredient-list-mod-sort-order.ini
config/vmp.properties
/dumps/
config/flywheel-client.toml
config/asyncparticles/asyncparticles-mixin.properties
config/flywheel-client.toml
config/asyncparticles/asyncparticles-mixin.properties
config/flywheel-client.toml
config/asyncparticles/asyncparticles-mixin.properties
config/asyncparticles/asyncparticles-mixin.properties
config/flywheel-client.toml
nutritionalbalance.data